spring:
  application:
    name: trustscoreapi
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: none
      show-sql: true # disable in prod
      properties:
        hibernate:
          format_sql: true
          dialect: org.hibernate.dialect.PostgreSQLDialect

    flyway:
      enabled: true
      locations: classpath:db/migration
      baseline-on-migrate: true

    redis:
      host: localhost
      port: 6379

  server:
    port: 8080
    error:
      include-message: always # disable in prod

  logging:
    level:
      org.springframework: INFO
      com.trustscore: DEBUG
      org.hibernate.SQL: DEBUG # disable in prod
      org.hibernate.orm.jdbc.bind: TRACE # disable in prod

  jwt:
    secret: ${JWT_SECRET}
    access-expiration: 900000
    refresh-expiration: 900000

  management:
    endpoints:
      web:
        exposure:
          include: health,info,Prometheus
server:
  max-http-header-size: 8KB
  max-http-form-post-size: 2MB
  max-http-request-body-size: 10MB